# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/

# Environments
.venv/
venv/
.env

# Streamlit
.streamlit/cache/
.streamlit/config.toml.backup

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.tmp
